@font-face {
    font-family: 'Roboto';
    src: url(../Roboto/Roboto-Black.ttf);
}




* {
    font-family: 'Roboto';
    margin: 0px auto;
    padding: 0px;

}

.container-principal {
    text-align: center;
    transition: all 1s;
}


header {
    width: 100%;
    background-color: black;
    min-height: 150px;


}

.header-logo {
    width: 200px;

}

.header-logo img {
    width: 100%;

}



.header-menu {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

.header-ul {
    list-style: none;

    padding-bottom: 10px;
}

.header-ul li {
    display: inline-block;
    margin-right: 10px;

}

.linea-yellow {
    border-bottom: 2px solid rgb(180, 180, 23);
}

.titulos {
    height: 500px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bar-209148_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.titulos-text {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.cursive-yellow {
    font-family: 'cursiva';
    color: rgb(180, 180, 23);



}

.concept {
    width: 100%;
    min-height: 500px;

    background: url(../img/pexels-henry-&-co-1939485.jpg);
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    padding-top: 100px;

}

.concept-img {
    width: 150px;
    position: absolute;
    left: -10px;
    top: 700px;
}

.imagen {
    width: 100%;
}

.concept-title {
    font-size: 30px;
}

.concept-box {
    width: 300px;
    background-color: black;
    color: white;
    padding: 50px;




}

.concept-text {
    text-align: justify;
    font-size: 12px;
}

.galeria {
    display: block;
    
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.pexels.com/photos/807598/pexels-photo-807598.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.column {
    width: 250px;
    margin-bottom:15px ;
}
.colum-padd{
    width: 250px;
    padding-bottom: 20px;
}
.column__img {
  width: 100%;
}

.food{
    background: url(../img/pexels-toni-cuenca-572490.jpg);
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

.food-card{
    width: 75%;
    height: auto;
    background-color: white; 
    margin-bottom: 15px;
 
    
}
.food-title{
    text-align: center;
    padding: 10px;

}

.article{
    display: inline-block;
    
  
}
.price{
    display: inline-block;
    margin-left: 200px;
}
.food-article-price{
    text-align: left;
    padding: 5px;
}




@media (min-width: 576px) {}


@media (min-width: 768px) {
    .concept-img {
       display: none;

    }
}


@media (min-width: 992px) {
    .container-principal {
        font-size: 35px;
    }
   
}


@media (min-width: 1200px) {
    .header-logo {
        float: left;
        margin-left: 150px;
    }

    .header-menu {
        float: right;
        margin-right: 150px;
        margin-top: 50px;
        font-size: 25px;

    }

    .galeria {
        
        
    }

    .column {
        display: inline-block;
        width: 400px;
        margin-right: 50px;
        text-align: center;
        margin-left: 50px;
      
    }


    .column__img {
        max-width: 100%;
        height: auto;
    }

    .colum-none{
        display: none;
    }
    .colum-padd{
        width: 450px;
        
    }
    .food-card{
        display: inline-block;
        width: 40%;
        font-size: 15px;
     
        
    }
    .price{
        margin-left: 340px;
    }
   
    .food-article-price{
        margin-left: 45PX;

    }
  
    
}

@media (min-width: 1400px) {

    .price{
        margin-left: 440px;
    }



}